@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--Nunito);
}

:root {
    --Nunito: "Nunito", sans-serif;
}

body {
    background: rgb(249, 249, 249);
}


.active {
    background: rgb(255, 171, 8);
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
}

.header {

    width: 100%;

    background: rgb(255, 171, 8);

    .container {

        .header_items {

            padding: 24px 60px;

            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo {}

            .menu {

                display: flex;
                align-items: center;
                gap: 20px;

                form {
                    position: relative;

                    input {
                        width: 300px;

                        padding: 12px 45px 12px 12px;

                        border: 1px solid rgb(242, 242, 243);
                        border-radius: 12px;
                        background: rgb(255, 255, 255);

                        outline: none;
                    }

                    button[type='submit'] {

                        cursor: pointer;

                        position: absolute;
                        top: 13px;
                        right: 15px;

                        background-color: transparent;
                        border: none;
                    }
                }

                .account {
                    cursor: pointer;

                    img {

                        width: 32px;
                        height: 32px;

                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
            }

            .burger_menu {
                display: none;
            }

            .none_desktop {
                display: none;
            }
        }
    }
}


@media screen and (max-width:1024px) {

    .header {

        width: 100%;

        background: rgb(255, 171, 8);

        .container {

            .header_items {

                padding: 24px 60px;

                display: flex;
                align-items: center;
                justify-content: space-between;

                .logo {}

                .menu {

                    display: flex;
                    align-items: center;
                    gap: 20px;

                    form {
                        position: relative;

                        input {}

                        button[type='submit'] {

                            cursor: pointer;

                            position: absolute;
                            top: 13px;
                            right: 15px;

                            background-color: transparent;
                            border: none;
                        }
                    }

                    .account {
                        cursor: pointer;

                        img {

                            width: 32px;
                            height: 32px;

                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }
                }


            }
        }
    }
}

@media screen and (max-width:660px) {

    .header {

        width: 100%;

        background: rgb(255, 171, 8);

        .container {

            .header_items {

                position: relative;

                padding: 22px 10px;

                display: flex;
                align-items: center;
                justify-content: space-between;

                .logo {}

                .menu {

                    display: flex;
                    align-items: center;
                    gap: 20px;

                    form {
                        width: 100%;

                        background: rgb(255, 171, 8);

                        position: absolute;
                        top: 0px;
                        left: 0px;

                        padding: 22px 10px;

                        input {
                            width: 100%;
                        }

                        button[type='submit'] {

                            top: 30px;
                            right: 24px;

                            img {

                                width: 24px;
                            }
                        }
                    }

                    .account {
                        cursor: pointer;

                        img {

                            width: 32px;
                            height: 32px;

                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }

                    .search_button {

                        cursor: pointer;

                        border: none;
                        background-color: transparent;

                        img {

                            width: 24px;
                            height: 24px;
                        }
                    }
                }

                .none {
                    display: none;
                }

                .none_desktop {
                    display: block;
                }

                .burger_menu {
                    display: block;

                    img {

                        cursor: pointer;

                        height: 24px;
                    }
                }
            }
        }
    }
}


.nav {
    margin: 30px 0 30px 0;
}


.main {

    .container {

        .main_items {

            padding: 24px 60px;

            display: flex;
            gap: 30px;

            .aside {
                width: 315px;
                height: max-content;

                border-radius: 18px;
                background: rgb(255, 255, 255);

                .aside_container {
                    padding: 16px 24px;

                    .aside_items {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        .aside_blok_info {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            .count_card_items {
                                padding: 2px 16.5px;

                                border-radius: 6px;
                                background: rgb(242, 242, 243);
                            }
                        }

                        .aside_items_products {


                            .blok_item_product {

                                display: flex;
                                align-items: center;

                                border-bottom: 1px solid rgb(242, 242, 243);
                                border-top: 1px solid rgb(242, 242, 243);

                                padding: 16px 0 16px 0;

                                .left {
                                    border-radius: 8px;

                                    img {
                                        width: 64px;
                                        height: 52px;

                                        object-fit: cover;

                                        border-radius: 8px;
                                    }
                                }

                                .center {
                                    margin-left: 6px;

                                    display: flex;
                                    flex-direction: column;

                                    color: rgb(0, 0, 0);
                                    font-family: var(--Nunito);

                                    .name {
                                        font-size: 12px;
                                        font-weight: 400;
                                        line-height: 16px;
                                        text-align: left;
                                    }

                                    .gram {
                                        color: rgb(177, 177, 177);
                                        font-size: 12px;
                                        font-weight: 400;
                                        line-height: 16px;
                                        text-align: left;
                                    }

                                    .prise {
                                        margin-top: 6px;

                                        font-size: 12px;
                                        font-weight: 400;
                                        line-height: 16px;
                                        text-align: left;
                                    }
                                }

                                .end {

                                    /* width: 84px;
                                    height: 40px; */

                                    margin-left: 30px;

                                    border-radius: 12px;
                                    background: rgb(242, 242, 243);

                                    display: flex;
                                    align-items: center;
                                    gap: 16px;

                                    padding: 9px 12px;

                                    button {
                                        cursor: pointer;

                                        border: none;
                                        background-color: transparent;
                                    }
                                }
                            }
                        }

                        .blok_final_price {

                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            span {
                                color: rgb(0, 0, 0);
                                font-family: var(--Nunito);
                                font-size: 16px;
                                font-weight: 700;
                                line-height: 130%;
                                letter-spacing: 0%;
                            }
                        }

                        .place_an_order {

                            margin-top: 8px;

                            border: none;
                            border-radius: 12px;
                            background: rgb(255, 112, 32);

                            color: rgb(255, 255, 255);
                            font-family: var(--Nunito);
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 100%;

                            padding: 11px 0px;
                        }

                        .info {
                            display: flex;
                            align-items: center;
                            gap: 8px;

                            img {
                                width: 24px;
                                height: 24px;
                            }

                            span {
                                color: rgb(0, 0, 0);
                                font-family: var(--Nunito);
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 16px;
                            }
                        }
                    }
                }
            }

            .section_product {
                flex: 1;

                .section_items {
                    flex: 1;

                    .section_products_items {
                        width: 100%;
                        display: grid;
                        /* grid-template-columns: repeat(3, 1fr); */
                        grid-template-columns: repeat(3, minmax(300px, 1fr));
                        width: 100%;
                        gap: 30px;


                        .product_item {
                            width: 100%;

                            padding: 12px;
                           

                            display: flex;
                            flex-direction: column;
                            gap: 16px;

                            border-radius: 18px;
                            background: rgb(255, 255, 255);

                            .top {

                                img {
                                    width: 100%;
                                    height: 100%;

                                    object-fit: cover;

                                    border-radius: 8px;
                                }
                            }

                            .center {

                                color: rgb(0, 0, 0);
                                font-family: var(--Nunito);

                                h4 {
                                    font-size: 24px;
                                    font-weight: 600;
                                    line-height: 100%;
                                }

                                .name {
                                    margin-top: 8px;

                                    font-size: 16px;
                                    font-weight: 400;
                                    line-height: 130%;
                                }
                            }

                            .bottom {

                                display: flex;
                                flex-direction: column;
                                gap: 8px;

                                .gram {
                                    color: rgb(177, 177, 177);
                                    font-family: var(--Nunito);
                                    font-size: 16px;
                                    font-weight: 600;
                                    line-height: 130%;
                                }

                                .ass_card {
                                    padding: 11px 0px;

                                    cursor: pointer;

                                    border: none;
                                    border-radius: 12px;
                                    background: rgb(242, 242, 243);
                                    transition: .5s;

                                    &:hover {
                                        background: rgb(255, 171, 8);
                                        color: white;
                                    }

                                    &:active {
                                        background: rgb(248, 99, 16);
                                        color: white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.paginator_container {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    .MuiPagination-ul{
        justify-content: center;
    }

}

@media screen and (max-width:1337px) {
    .main {

        .container {

            .main_items {

                .aside {

                    .aside_container {

                        .aside_items {

                            .aside_blok_info {}

                            .aside_items_products {


                                .blok_item_product {

                                    .left {}

                                    .center {}

                                    .end {}
                                }
                            }

                            .blok_final_price {}

                            .place_an_order {}

                            .info {}
                        }
                    }
                }

                .section_product {

                    .section_items {


                        .section_products_items {
                            display: grid;
                            grid-template-columns: repeat(2, minmax(300px, 1fr));
                            gap: 30px;


                            .product_item {

                                .top {

                                    img {}
                                }

                                .center {

                                    h4 {}

                                    .name {}
                                }

                                .bottom {


                                    .gram {}

                                    .ass_card {}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1007px) {

    .main {

        .container {

            .main_items {
                flex-direction: column;

                .aside {

                    .aside_container {

                        .aside_items {
                            max-height: 28px;
                            transition: .5s;
                            overflow-y: hidden;
                            &.hidden{
                                max-height: 1000px;
                            }
                            .none_model {
                                /* display: none; */
                            }

                            .aside_blok_info {}

                            .aside_items_products {


                                .blok_item_product {

                                    .left {}

                                    .center {}

                                    .end {}
                                }
                            }

                            .blok_final_price {}

                            .place_an_order {}

                            .info {}
                        }
                    }
                }

                .section_product {

                    .section_items {


                        .section_products_items {
                            display: grid;
                            grid-template-columns: repeat(4, 1fr);
                            gap: 20px;


                            .product_item {
                                padding: 4px;
                                width: 100%;
                                height: auto;

                                .top {

                                    img {
                                        border-radius: 8px;
                                        width: 100%;
                                        height: auto;
                                    }
                                }

                                .center {

                                    h4 {
                                        font-size: 16px;
                                        font-weight: 600;
                                        line-height: 100%;
                                    }

                                    .name {
                                        font-size: 12px;
                                        font-weight: 400;
                                        line-height: 130%;
                                    }
                                }

                                .bottom {


                                    .gram {
                                        font-size: 12px;
                                        font-weight: 600;
                                        line-height: 130%;
                                    }

                                    .ass_card {}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:715px) {
    .main {

        .container {

            .main_items {
                flex-direction: column;
                padding: 22px 10px;

                .aside {

                    .aside_container {

                        .aside_items {
                            max-height: 28px;
                            transition: .5s;
                            overflow-y: hidden;
                            &.hidden{
                                max-height: 1000px;
                            }
                            .none_model {
                                /* display: none; */
                            }

                            .aside_blok_info {}

                            .aside_items_products {


                                .blok_item_product {

                                    .left {}

                                    .center {}

                                    .end {}
                                }
                            }

                            .blok_final_price {}

                            .place_an_order {}

                            .info {}
                        }
                    }
                }

                .section_product {

                    .section_items {


                        .section_products_items {
                            display: grid;
                            grid-template-columns: repeat(2, minmax(auto, 1fr));
                            justify-items: start;


                            .product_item {
                                padding: 4px;
                                width: 100%;

                                .top {

                                    img {
                                        border-radius: 8px;
                                        width: 100%;
                                        height: auto;
                                    }
                                }

                                .center {

                                    h4 {
                                        font-size: 16px;
                                        font-weight: 600;
                                        line-height: 100%;
                                    }

                                    .name {
                                        font-size: 12px;
                                        font-weight: 400;
                                        line-height: 130%;
                                    }
                                }

                                .bottom {


                                    .gram {
                                        font-size: 12px;
                                        font-weight: 600;
                                        line-height: 130%;
                                    }

                                    .ass_card {}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}